<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demos">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!--接收系统开机广播权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".guidepage.TantanActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".angryball.AngryBallActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".alterpic.AlterNumActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".remote.RemoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customrects.ChartActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".multipletouch.MultipleTouchActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".clock.ClockActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".lineandcircle.LineAndCircleActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".tearimage.TearImageActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".banneranimation.SnowActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".headhaha.HeadMosaicActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".customprogressbar.CustomProgressActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".xfermodeview.ScratchActivity"
            android:screenOrientation="portrait" />
            <service android:name=".chatheadtest.ChatHeadService" />
            <receiver android:name=".chatheadtest.BootReceiver">
                <intent-filter>
                    <!-- 系统启动完成后会调用 -->
                    <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                </intent-filter>
            </receiver>
    </application>

</manifest>